body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #0d0d0d;
    color: #fff;
}

/* Header */
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #000;
    color: #fff;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.site-name {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 15px; /* Reduzi o gap para 15px para diminuir os espaços */
    margin-left: auto;
    align-items: center;
    margin-right: 40px; /* Aproxima os links da parte central da tela */
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px; /* Espaço entre ícone e texto */
    position: relative;
}

.nav-link i {
    font-size: 18px; /* Tamanho dos ícones */
}

.nav-link:hover {
    color: #5da8ae;
}

.nav-link:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #5da8ae;
    bottom: -5px;
    left: 0;
    transform: scaleX(1);
    transition: transform 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #5da8ae;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
    }

    .header-wrapper {
        justify-content: center;
    }

    .logo-wrapper {
        justify-content: center;
        flex: 1;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: #000;
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        padding: 20px;
    }

    .nav-links.show {
        display: flex;
    }

    .site-name {
        font-size: 22px;
    }
}

/* Home Section */
.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    padding: 50px 20px;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.animated-columns {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #0d0d0d;
    overflow: hidden;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.animated-columns div {
    width: 10px;
    background-color: rgba(0, 255, 255, 0.5);
    animation: column 2s infinite;
}

.animated-columns div:nth-child(2n) {
    animation-delay: 1s;
}

@keyframes column {
    0% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

.banner {
    background-color: rgba(31, 31, 31, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    animation: float 4s ease-in-out infinite;
    margin-top: 80px;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

.title {
    color: #fff;
    margin-bottom: 20px;
    font-size: 36px;
}

.subtitle {
    color: #aaa;
    margin-bottom: 30px;
    font-size: 24px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    background-color: #5da8ae;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.button:hover {
    background-color: #225E63;
}

/* Quem Somos Section */
.marketing-wrapper {
    width: 100%;
    padding: 60px 20px;
    background: url('/assets/BG home.png') center/cover no-repeat;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
}

.marketing-section {
    width: 100%;
    padding: 40px 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.section-title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

.section-content {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    white-space: pre-line;
}

/* Mission, Vision, Values Section */
.info-box-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px; /* Adicionado para melhorar a responsividade */
}

.info-box {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: rgba(47, 47, 47, 0.8);
    border: 1px solid #5da8ae;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    position: relative;
    z-index: 1;
    animation: balloon 4s ease-in-out infinite alternate;
    margin: 10px auto;
}

.info-box:hover {
    transform: translateY(-10px);
}

@keyframes balloon {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.icon-wrapper {
    font-size: 36px;
    color: #5da8ae;
    margin-bottom: 10px;
}

.highlight-box {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(47, 47, 47, 0.8);
    border: 1px solid #5da8ae;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    animation: balloon 4s ease-in-out infinite alternate;
}

.highlight-box:hover {
    transform: translateY(-10px);
}

/* Footer */
.footer-wrapper {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    text-align: center;
}

/* Ajuste da Imagem de Fundo */
.background-image {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: url('/assets/home.jpg') no-repeat center center;
    background-size: cover;
    z-index: 0;
    opacity: 0.5;
}

@media (max-width: 768px) {
    .background-image {
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
    }

    .info-box-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .highlight-box,
    .info-box {
        max-width: 90%;
    }
}